{% assign lang = page.lang | default: "es" %}
{% assign nav = site.data.navigation[lang] %}

<h2>📚 Kiseki Wiki</h2>

<a href="{{ '/es/' | relative_url }}">🇪🇸 Español</a>
<a href="{{ '/en/' | relative_url }}">🇬🇧 English</a>
<a href="{{ '/jp/' | relative_url }}">🇯🇵 日本語</a>

<hr>

{% for item in nav %}

  {% if item.url %}
    <a href="{{ item.url | relative_url }}">
      <h2>{{ item.title }}</h2>
    </a>
  {% else %}
    <h2>{{ item.title }}</h2>
  {% endif %}

  {% if item.children %}
    {% for child in item.children %}

      {% if child.url %}
        <a style="margin-left: 15px;" href="{{ child.url | relative_url }}">
          - {{ child.title }}
        </a>
      {% else %}
        <div style="margin-left: 15px;">
          - {{ child.title }}
        </div>
      {% endif %}

      {% if child.children %}
        {% for sub in child.children %}
          <a style="margin-left: 30px;" href="{{ sub.url | relative_url }}">
            • {{ sub.title }}
          </a>
        {% endfor %}
      {% endif %}

    {% endfor %}
  {% endif %}

{% endfor %}